<div ng-controller="mainController">
    <div class="bodyContainer">
        Major areas to cover:
            -Art
                Robots
            -3D/Maya work
              Model Viewer
            -Web development
              Time at Coding Dojo
              Value of learning different stacks
        <div>
            <h3>
                CommonCode  <a href="https://github.com/ILanning/CommonCode" target="_target">[Source]</a>
            </h3>
            <p>
                &nbsp;&nbsp;&nbsp;&nbsp;A common library between all of my recent XNA projects, including Session Viewer, Outpost Update, and several small utility programs.  Building this library has taught me a ton about building generic, stable, easily maintained code (mostly through experience with the results of not doing so).  My next steps for this library involve implementing my Javascript and Ruby experience with tests and test driven development into the more realistic environment of the library.
            </p>
        </div>
    </div>
</div>